

body{
    margin: 0;
    padding: 0;
}
#nav{
    display: flex;
    justify-content: space-between;
}
#nav2{
    display: flex;
    align-items: center;
}
#nav1 img{
    width: 100px;
    height: 93px;
}

/* creating ad section */
#ad{
    background-color: black;
}
#ad1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ad #ad1 img{
    width: 450px;
    height: 250px;
}

/* product section */
#products{
    display: flex;
    flex-direction: column;

}
#products .elecpro{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
#products .elecpro img{
    width: 25%;
    height: 300px;
}