body{
    margin: 0;
    padding: 0;
}
#nav{
    display: flex;
    justify-content: space-between;
}
#nav2{
    display: flex;
    align-items: center;
}
#nav1 img{
    width: 100px;
    height: 93px;
}

/* creating ad section */
#ad{
    background-color: black;
}
#ad1{
    display: flex;    
    justify-content: center;
    align-items: center;

}

#ad #ad1 img{
    width: 450px;
    height: 250px;

}